.container {
  aspect-ratio: 3 / 4;
  width: 200px;
  background-color: bisque;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;

  border: 10px solid white;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
