.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 30rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--gray-4);
  border-radius: 4px;
  font-size: 15px;
  line-height: 1;
  color: var(--violet-11);
}
