.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: min-content;
  height: min-content;
}

.container + .container {
  margin-top: 1rem;
}

.item {
  aspect-ratio: 4 / 3;
  display: flex;
  align-items: center;
  gap: .5rem;
  justify-content: center;
  width: 75px;
}

.card {
  aspect-ratio: 3 / 4;
  width: 20px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.white {
  background-color: white;
}

.gold {
  background-color: gold;
}

.gold,
.white {
  color: black;
}

.gold .card,
.white .card {
  border-color: black;
}

.black,
.red,
.green,
.blue {
  color: white;
}

.prestige {
  box-sizing: border-box;
  grid-column: span 3;
  border: 1px solid hsl(0, 0%, 60%);
  width: 100%;
  aspect-ratio: unset;
  padding: 1rem 0;
}

.current {
  outline: 5px solid powderblue;
}

