.container {
  aspect-ratio: 3 / 4.5;
  background-color: bisque;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prestige {
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 1rem;
}

.affordable {
  outline: 5px solid powderblue;
}
