.container {
  aspect-ratio: 3 / 4;
  background-color: bisque;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}
