.container {
  appearance: none;
  aspect-ratio: 3 / 4.5;
  background-color: bisque;
  border-radius: .5rem;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}

.container:disabled {
  background-color: light-dark(rgba(bisque, 1), rgba(bisque, 1));
  color: light-dark(rgba(16, 16, 16, 1), rgba(255, 255, 255, 1));
  cursor: default;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prestige {
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 1rem;
}

.affordable {
  outline: 5px solid powderblue;
}
