html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #bbb;
}

.table {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  gap: 1rem;
  grid-template-areas:
    "players decks cards tokens nobles"
    "currentPlayerHud currentPlayerHud currentPlayerHud currentPlayerHud currentPlayerHud";
}

.players {
  grid-area: players;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cards {
  --size: 200px;
  display: grid;
  grid-template-columns: repeat(4, minmax(var(--size), 1fr));
  grid-area: cards;
  gap: 1rem;
  max-width: min-content;
}

.decks {
  grid-area: decks;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tokens {
  grid-area: tokens;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nobles {
  grid-area: nobles;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.currentPlayerHud {
  grid-area: currentPlayerHud;
  display: flex;
  justify-content: center;
}

.endTurnButton {
  white-space: nowrap;
}
