.token {
  aspect-ratio: 1;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  cursor: pointer;
  border-width: 3px;
  border-style: solid;
  box-sizing: border-box;
  user-select: none;
}

.token.empty {
  background-color: transparent;
  border-style: dashed;
  color: black;
}

.container + .container {
  margin-top: .5rem;
}

.black {
  background-color: black;
  border-color: black;
}

.red {
  background-color: red;
  border-color: red;
}

.green {
  background-color: green;
  border-color: green;
}

.blue {
  background-color: blue;
  border-color: blue;
}

.white {
  background-color: white;
  border-color: white;
}

.gold {
  background-color: gold;
  border-color: gold;
}

.gold,
.white {
  color: black;
}

.black,
.red,
.green,
.blue {
  color: white;
}

